body {
  background-color: #000000;
  color: #c9d1d9;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #161b22;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #30363d;
  width: 100%;
  max-width: 400px;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 14px;
  background: #21262d;
  color: #c9d1d9;
}

button {
  width: 104%;
  margin-top: 2rem;
  padding: 0.7rem;
  background-color: #1da1f2;
  border: none;
  border-radius: 14px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #045d98;
}

#secret-key-container {
  margin-top: 2rem;
  background-color: #1c2128;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #30363d;
  text-align: center;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #1da1f2;
}
.flash-messages {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.flash-messages.error {
  background-color: #ff4d4d;
  color: #fff;
  border: 1px solid #cc0000;
}

.flash-messages.success {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #1c7c31;
}